{% extends 'base.html' %}

{% block title %}
    SIGN UP
{% endblock title %}

{% block content %}

  
    

    
        <h1>Sign Up</h1>
        <form action="/signup" method="POST">

            {% csrf_token %}

            <div class="mb-3">
                <input class="form-control" type="text" id="username" name="username" placeholder="Enter a Username"  Required>
            <br>
            </div>

            <div class="mb-3">
                <input class="form-control" type="text" id="fname" name="fname" placeholder="Enter your first name"   Required>
            <br>
            </div>

            <div class="mb-3">
                <input class="form-control" type="text" id="lname" name="lname" placeholder="Enter your last name"  Required>
            <br>
            </div>

            <div class="mb-3">
                <input class="form-control" type="email" id="email" name="email" placeholder="Enter an email address"  Required>
            <br>
            </div>

            <div class="mb-3">
                <input class="form-control" type="password" id="password" name="password" placeholder="Enter your password"  Required>
            <br>
            </div>

            <div class="mb-3">
                <input class="form-control" type="password" id="password2" name="password2" placeholder="Repeat your password" Required>
            <br>
            </div>

        
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="submit" class="btn btn-primary btn-lg" style="border-top-right-radius: 5px; border-bottom-right-radius: 5px;">Sign Up</button>
                <a href="signin"> <button type="button" class="btn btn-primary btn-lg btn-secondary" style="margin-left: 20px; border-top-left-radius: 5px; border-bottom-left-radius: 5px;">Sign In</button> </a>
            </div>

            <!--
            <div id="nn">
                <a href="signin">
                    <h3> SignIn </h3>
                </a>
                <button type="submit" id="btn">Sign Up</button>
            </div>
            -->
        </form>    
{% endblock content %}