<!-- templates/user_profile.html -->
{% extends 'base.html' %}

{% block title %}{{ user_profile.user.username }}'s Profile{% endblock %}

{% block content %}

        <div class="card">
            <div class="card-header">
                <div class="card-header-slanted-edge">
                </div>
            </div>

            <div class="card-body">
                <span class="name">{{ user_profile.user.username }}</span><br>
                {% if user_profile.user.username == request.user.username %}
                    <span class="job-title"><u>{{ user_profile.user.email }}</u></span>
                {% endif %}

                <div class="bio">
                    <p>{{ user_profile.user.bio }}</p>
                </div>
                <!-- follow -->
                {% if request.user.is_authenticated %}
                {% if request.user != user_profile.user %}
                    <form method="post" action="{% url 'toggle_follow' username=user_profile.user.username %}">
                        {% csrf_token %}
                        {% if is_following %}
                            <button class="regbtn" type="submit">Unfollow</button>
                        {% else %}
                            <button class="regbtn" type="submit">Follow</button>
                        {% endif %}
                    </form>
                {% endif %}
                {% endif %}

            </div>

            <div class="card-footer">
                    <div class="stats">
                        <div class="stat">
                            <span class="label">Followers</span>
                            <span class="value"><a style="text-decoration: none; color: black;" href="#">{{ user_profile.user.followers.count }}</a></span>
                        </div>
                              <div class="stat">
                                <span class="label">Recipe Books</span>
                                {% if total_recipe_books == 0 %}
                                    <span class="value">0</span>
                                {% else %}
                                    <span class="value">{{ total_recipe_books }}</span>
                                {% endif %}
                              </div>
                              <div class="stat">
                                <span class="label">Following</span>
                                <span class="value">{{ user_profile.user.following.count }}</span>
                              </div>
                          </div>
                    </div>
        </div>








    <h1 style="text-align: center;">Recipe Books</h1><br><br>
    {% if total_recipe_books == 0 %}
        <p>{{ user_profile.user.username }} has no public recipe books.</p>
    {% else %}

        {% for recipe_book in recipe_books %}

            <div class="pbcard" style="margin: auto;">
                <p class="pbcard-title"><a href="{% url 'user_recipe_books' username=user_profile.user.username %}">{{ recipe_book.name }}</a></p>
                <p class="pbfooter">Created at: <span class="pbby-name">{{ recipe_book.created_at }}</span></p>

                {% if request.user.is_authenticated %}
                    <form method="post" action="{% url 'like_recipe_book' recipe_book_id=recipe_book.id %}">
                        {% csrf_token %}
                        <button class="pbbutton">
                            <svg height="20" width="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0H24V24H0z" fill="none"></path><path d="M16.5 3C19.538 3 22 5.5 22 9c0 7-7.5 11-10 12.5C9.5 20 2 16 2 9c0-3.5 2.5-6 5.5-6C9.36 3 11 4 12 5c1-1 2.64-2 4.5-2z"></path></svg>
                            {{ recipe_book.likes.count }}
                        </button>
                    </form>
                {% endif %}
            </div><br><br><br><br>

        {% endfor %}

    {% endif %}






{% endblock %}
